html {
  font-size: 62.5%;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  padding: 1rem;
  background-color: #188b8a;
}
header {
  background-color: gold;
  padding: 1rem;
}
main {
  background-color: orange;
  padding: 1rem;
}

aside {
  background-color: #3cb371;
  padding: 1rem;
}
.aside-2 {
  background-color: #2d8b57;
  padding: 1rem;
}
footer {
  background-color: #91ee90;
  padding: 1rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.wrapper > * {
  padding: 10px;
  flex-grow: 1;
  flex-basis: 100%;
}

/* Responsiivisuus */
.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.parent > * {
  flex-basis: 100%;
  flex-grow: 1;
}
.parent main {
}
.navigointi {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  background-color: white;
  flex-basis: 0;
  flex-grow: 1;
}
.navigointi > * {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem;
  border: black solid 2px;
}

.some-navigointi {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
  margin: 0 -1rem, -1rem, -1rem;
  font-size: 2.4rem;
}
.some-navigointi > * {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  padding: 1rem;
}
@media screen and (min-width: 426px) {
  .wrapper {
    flex-direction: row;
  }
  .aside-1 {
    flex-basis: auto;
  }
  .aside-2 {
    flex-basis: auto;
  }
}
@media screen and (min-width: 769px) {
  .aside-1 {
    order: 1;
    flex-basis: 0px;
  }
  .main {
    order: 2;
    flex-basis: 400px;
  }
  .aside-2 {
    order: 3;
    flex-basis: 0px;
  }
  .footer {
    order: 4;
  }
}
